* {
  box-sizing: border-box;
}

:root {
  --var-side: #CCCCCC;
  --var-content-border: #DDDDDD;
  --var-content-bg: #FFFFFF;
  --var-content-fg: #000000;
  --var-header-bg: #ffd700;
  --var-menu-bg: #FFE44D;
  --var-menu-hl: #FFD900;
  --var-menu-fg: #000000;
  --var-menu-border: #CCAD00;
  --var-tbl-th: #DDDDDD;
  --var-tbl-tr0: #ECECEC;
  --var-tbl-tr1: #FFFFFF;
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /*    background:    url(img/background.png)    repeat;    */
  background: var(--var-side);
}

#body {
  padding: 0;
  margin: 0;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(5px);
  background: var(--var-content-bg);
  color: var(--var-content-fg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-left: 1px solid var(--var-content-border);
  border-right: 1px solid var(--var-content-border);
  min-height: 100%;
}

#body #header {
  margin: 0;
  padding: 0;
  background: var(--var-header-bg);
}

#body #header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: Georgia, 'Times New Roman', Times, serif
}

#body nav#mainmenu {
  display: block;
  margin: 0;
  padding: 0;
}

#body nav#mainmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#body nav#mainmenu ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 3em;
  font-weight: 700;
  text-align: center;
  background: var(--var-menu-bg);
  color: var(--var-menu-fg);
  border: 1px inset var(--var-menu-border);
  transition: background 0.2s;
}

#body nav#mainmenu ul li:hover {
  background: var(--var-menu-hl);
}

#body nav#mainmenu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 0.25em;
}

#body #mainmenu a {
  color: var(--var-menu-fg);
}

#body #mainmenu a:hover {
  color: var(--var-menu-fg);
}

#body #mainmenu a:visited {
  color: var(--var-menu-fg);
}

#body #content {
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#live-terminal {
  display: block;
  border: 2px inset silver;
  background-color: #111111;
  color: #FFFFFF;
  font-family: 'Source Code Pro', monospace;
  padding: 0.25em;
}

#live-terminal-text {
  display: inline;
}

#content table {
  min-width: 100%;
}

#content table, #content td, #content th {
  padding: 0.25em;
  border: 1px solid black;
  border-collapse: collapse;
}

#content th {
  background-color: var(--var-tbl-th);
}

#content table tr {
  background-color: var(--var-tbl-tr0);
}

#content table tr:nth-child(odd) {
  background-color: var(--var-tbl-tr1);
}

#content pre.sourceCode {
  border: 2px inset silver;
  background-color: var(--base00);
  color: var(--base05);
  padding: 0.5em;
}

/*    functions    */

#content pre.sourceCode .fu {
  color: var(--base0D);
}

/*    numbers    */

#content pre.sourceCode .bn, #content pre.sourceCode .dv {
  color: var(--base0D);
}

/*    ???    */

#content pre.sourceCode .co {
  color: var(--base03);
}

/*    ???    */

#content pre.sourceCode .bu {
  color: var(--base0E);
}

#content pre.sourceCode .fn {
  color: var(--base0D);
}

.blink {
  animation: blink-animation 2s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}