<link rel="stylesheet" href="xterm/xterm.css" />
<script src="xterm/xterm.js"></script>

<div id="live-terminal"></div>

<!-- 
<code id="live-terminal" tabindex="0">
<pre id="live-terminal-text"></pre><span class="blink">█</span><br />
</code>
-->

<script type="text/javascript" src="livedemo.js"></script>

<h2>About</h2>
<p>The black box above is an ANSI terminal emulator with an emulated <i>Ashet</i> connected to it. Just press
  <code>h</code> to see the available options in the boot rom.</p>
<p>Currently, the emulator runs the <a href="https://github.com/MasterQ32/spu-mark-ii/tree/master/soc/firmware">serial
    BIOS</a> of <i>Ashet</i>, as the graphical components are still in development.
</p>
<p>Quick start:<br />Focus the emulator terminal, press <code>h</code> to display a short help text from the BIOS. Then
  press <code>l</code> to go into <a href="https://en.wikipedia.org/wiki/Intel_HEX">ihex</a> loading mode. The
  <i>BIOS</i> now awaits a valid ihex file over the serial port. Paste this text into the terminal:
  <pre><code>:1080000008011A8008050200081E06001800881DD5
:1080100000406C020E80180018020D48656C6C6FF1
:0A8020002C20576F726C64210000E1
:00000001FF</code></pre>
  This has loaded a small <i>Hello World</i> program into RAM that can now be executed by pressing <code>g</code>.
</p>
<p>Now you know how to load your own programs, go write one! Starting point is <a href="docs/an000.htm">AN000</a> and
  <a href="docs/an001.htm">AN001</a>, as well as the <a href="docs/isa.htm">ISA description</a>.
</p>
<p>Memory layout for the emulator is:

  <table>
    <tr>
      <th>Memory Range</th>
      <th>Function</th>
    </tr>
    <tr>
      <td><code>0x0000</code> … <code>0x3FFF</code></td>
      <td>BIOS ROM</td>
    </tr>
    <tr>
      <td><code>0x4000</code> … <code>0x4000</code></td>
      <td>UART Port. Write to send blockingly, read nonblockingly. No value available returns <code>0xFFFF</code>.</td>
    </tr>
    <tr>
      <td><code>0x6000</code> … <code>0x6FFF</code></td>
      <td>RAM 0</td>
    </tr>
    <tr>
      <td><code>0x8000</code> … <code>0xFFFF</code></td>
      <td>RAM 1</td>
    </tr>
  </table>

</p>