*.html
impl*/
*.xml
.build_status
.run_manager.ini
.recovery
*.dir/
*.log
*.tcl
*.ccl
*.srp
firstdesign
*.o
*.ghw
testbench
*.sort
work-*.cf
testbench_*
debugging/
*.lst
*.sty
testbench_fifo
testbench_spu*.mem
