BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V;
USERCODE HEX "12345678" ; 
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.2 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
USE PRIMARY NET "extclk_c" ;
FREQUENCY NET "extclk_c" 12.000000 MHz ;
LOCATE COMP "extclk" SITE "C8" ;
LOCATE COMP "extrst" SITE "B3" ;
LOCATE COMP "leds[0]" SITE "H11" ;
LOCATE COMP "leds[1]" SITE "J13" ;
LOCATE COMP "leds[2]" SITE "J11" ;
LOCATE COMP "leds[3]" SITE "L12" ;
LOCATE COMP "leds[4]" SITE "K11" ;
LOCATE COMP "leds[5]" SITE "L13" ;
LOCATE COMP "leds[6]" SITE "N15" ;
LOCATE COMP "leds[7]" SITE "P16" ;
LOCATE COMP "switches[0]" SITE "N2" ;
LOCATE COMP "switches[1]" SITE "P1" ;
LOCATE COMP "switches[2]" SITE "M3" ;
LOCATE COMP "switches[3]" SITE "N1" ;
LOCATE COMP "uart0_rxd" SITE "B7" ;
LOCATE COMP "uart0_txd" SITE "A5" ;
LOCATE COMP "dbg_mosi_data" SITE "B5" ;
LOCATE COMP "dbg_miso_data" SITE "B6" ;
LOCATE COMP "sram_addr[0]" SITE "T10" ;
LOCATE COMP "sram_addr[1]" SITE "R9" ;
LOCATE COMP "sram_addr[2]" SITE "T9" ;
LOCATE COMP "sram_addr[3]" SITE "P9" ;
LOCATE COMP "sram_addr[4]" SITE "T8" ;
LOCATE COMP "sram_addr[5]" SITE "P8" ;
LOCATE COMP "sram_addr[6]" SITE "R7" ;
LOCATE COMP "sram_addr[7]" SITE "P7" ;
LOCATE COMP "sram_addr[8]" SITE "R8" ;
LOCATE COMP "sram_addr[9]" SITE "M6" ;
LOCATE COMP "sram_addr[10]" SITE "N9" ;
LOCATE COMP "sram_addr[11]" SITE "L8" ;
LOCATE COMP "sram_addr[12]" SITE "L7" ;
LOCATE COMP "sram_addr[13]" SITE "T7" ;
LOCATE COMP "sram_addr[14]" SITE "N6" ;
LOCATE COMP "sram_addr[15]" SITE "P4" ;
LOCATE COMP "sram_addr[16]" SITE "R4" ;
LOCATE COMP "sram_addr[17]" SITE "T5" ;
LOCATE COMP "sram_addr[18]" SITE "T3" ;
LOCATE COMP "sram_data[0]" SITE "P11" ;
LOCATE COMP "sram_data[1]" SITE "T11" ;
LOCATE COMP "sram_data[2]" SITE "R11" ;
LOCATE COMP "sram_data[3]" SITE "T14" ;
LOCATE COMP "sram_data[4]" SITE "R13" ;
LOCATE COMP "sram_data[5]" SITE "M11" ;
LOCATE COMP "sram_data[6]" SITE "N10" ;
LOCATE COMP "sram_data[7]" SITE "P10" ;
LOCATE COMP "sram_we" SITE "R6" ;
LOCATE COMP "sram_oe" SITE "M8" ;
LOCATE COMP "sram_ce" SITE "R10" ;
LOCATE COMP "vga_r" SITE "F14" ;
LOCATE COMP "vga_g" SITE "C15" ;
LOCATE COMP "vga_b" SITE "E14" ;
LOCATE COMP "vga_hs" SITE "B4" ;
LOCATE COMP "vga_vs" SITE "A4" ;
LOCATE COMP "logic_dbg[0]" SITE "F9" ;
LOCATE COMP "logic_dbg[1]" SITE "C10" ;
LOCATE COMP "logic_dbg[2]" SITE "E8" ;
LOCATE COMP "logic_dbg[3]" SITE "E9" ;
LOCATE COMP "logic_dbg[4]" SITE "E7" ;
LOCATE COMP "logic_dbg[5]" SITE "D8" ;
LOCATE COMP "logic_dbg[6]" SITE "D7" ;
LOCATE COMP "logic_dbg[7]" SITE "C7" ;
IOBUF PORT "dbg_mosi_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "sram_addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "extrst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dbg_miso_data" IO_TYPE=LVCMOS33 ;
IOBUF PORT "extclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vga_vs" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "vga_r" IO_TYPE=LVCMOS12 ;
IOBUF PORT "vga_hs" IO_TYPE=LVCMOS12 PULLMODE=NONE ;
IOBUF PORT "vga_g" IO_TYPE=LVCMOS12 ;
IOBUF PORT "vga_b" IO_TYPE=LVCMOS12 ;
IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_we" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_oe" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_ce" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[2]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "sram_data[3]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "sram_data[4]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "sram_data[5]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "sram_data[6]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "sram_data[7]" IO_TYPE=LVCMOS33 DRIVE=8 ;
IOBUF PORT "logic_dbg[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "logic_dbg[7]" IO_TYPE=LVCMOS33 ;
