BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk_dbg" IO_TYPE=LVCMOS33 DRIVE=8 ;
LOCATE COMP "clk_dbg" SITE "B16" ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 DRIVE=8 OPENDRAIN=OFF CLAMP=OFF ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[0]" SITE "H11" ;
LOCATE COMP "leds[1]" SITE "J13" ;
LOCATE COMP "leds[2]" SITE "J11" ;
LOCATE COMP "leds[3]" SITE "L12" ;
LOCATE COMP "leds[4]" SITE "K11" ;
LOCATE COMP "leds[5]" SITE "L13" ;
LOCATE COMP "leds[6]" SITE "N15" ;
LOCATE COMP "leds[7]" SITE "P16" ;
IOBUF PORT "switches[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[3]" IO_TYPE=LVCMOS33 ;
#LOCATE COMP "switches[0]" SITE "N2";
#LOCATE COMP "switches[1]" SITE "P1";
#LOCATE COMP "switches[2]" SITE "M3";
#LOCATE COMP "switches[3]" SITE "N1";
FREQUENCY NET "extclk_c" 12.000000 MHz ;
IOBUF PORT "extclk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "extclk" SITE "C8" ;
IOBUF PORT "extrst" IO_TYPE=LVCMOS33 ;
LOCATE COMP "extrst" SITE "B3" ;

IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart0_rxd" SITE "E10" ;
LOCATE COMP "uart0_txd" SITE "C12" ;

IOBUF PORT "dbg_miso_clk"  IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST;
IOBUF PORT "dbg_miso_data" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "dbg_mosi_clk"  IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST ;
IOBUF PORT "dbg_mosi_data" IO_TYPE=LVCMOS33 DRIVE=16 SLEWRATE=FAST ;

LOCATE COMP "dbg_mosi_clk"  SITE "D9"  ; # avr pd2
LOCATE COMP "dbg_mosi_data" SITE "A10" ; # avr pd3
LOCATE COMP "dbg_miso_clk"  SITE "E6"  ; # avr pd4
LOCATE COMP "dbg_miso_data" SITE "C5"  ; # avr pd5



LOCATE COMP "sram_addr[0]" SITE "T10" ;
LOCATE COMP "sram_addr[1]" SITE "R9" ;
LOCATE COMP "sram_addr[2]" SITE "T9" ;
LOCATE COMP "sram_addr[3]" SITE "P9" ;
LOCATE COMP "sram_addr[4]" SITE "T8" ;
LOCATE COMP "sram_addr[5]" SITE "P8" ;
LOCATE COMP "sram_addr[6]" SITE "R7" ;
LOCATE COMP "sram_addr[7]" SITE "P7" ;
LOCATE COMP "sram_addr[8]" SITE "R8" ;
LOCATE COMP "sram_addr[9]" SITE "M6" ;
LOCATE COMP "sram_addr[10]" SITE "N9" ;
LOCATE COMP "sram_addr[11]" SITE "L8" ;
LOCATE COMP "sram_addr[12]" SITE "L7" ;
LOCATE COMP "sram_addr[13]" SITE "T7" ;
LOCATE COMP "sram_addr[14]" SITE "N6" ;
LOCATE COMP "sram_addr[15]" SITE "P4" ;
LOCATE COMP "sram_addr[16]" SITE "R4" ;
LOCATE COMP "sram_addr[17]" SITE "T5" ;
LOCATE COMP "sram_addr[18]" SITE "T3" ;
LOCATE COMP "sram_data[0]" SITE "P11" ;
LOCATE COMP "sram_data[1]" SITE "T11" ;
LOCATE COMP "sram_data[2]" SITE "R11" ;
LOCATE COMP "sram_data[3]" SITE "T14" ;
LOCATE COMP "sram_data[4]" SITE "R13" ;
LOCATE COMP "sram_data[5]" SITE "M11" ;
LOCATE COMP "sram_data[6]" SITE "N10" ;
LOCATE COMP "sram_data[7]" SITE "P10" ;
LOCATE COMP "sram_we" SITE "R6" ;
LOCATE COMP "sram_oe" SITE "M8" ;
LOCATE COMP "sram_ce" SITE "R10" ;
IOBUF PORT "sram_we" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_ce" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_oe" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[18]" IO_TYPE=LVCMOS33 ;
