BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;

LOCATE COMP "leds[0]" SITE "H11" ;
LOCATE COMP "leds[1]" SITE "J13" ;
LOCATE COMP "leds[2]" SITE "J11" ;
LOCATE COMP "leds[3]" SITE "L12" ;
LOCATE COMP "leds[4]" SITE "K11" ;
LOCATE COMP "leds[5]" SITE "L13" ;
LOCATE COMP "leds[6]" SITE "N15" ;
LOCATE COMP "leds[7]" SITE "P16" ;

IOBUF PORT "switches[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "switches[3]" IO_TYPE=LVCMOS33 ;

LOCATE COMP "switches[0]" SITE "N2";
LOCATE COMP "switches[1]" SITE "P1";
LOCATE COMP "switches[2]" SITE "M3";
LOCATE COMP "switches[3]" SITE "N1";

IOBUF PORT "extclk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "extclk" SITE "C8";

IOBUF PORT "extrst" IO_TYPE=LVCMOS33 ;
LOCATE COMP "extrst" SITE "B3";


IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS33;

# LOCATE COMP "uart0_rxd" SITE "E10";
LOCATE COMP "uart0_txd" SITE "C12";